springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui
    operationsSorter: method
    tagsSorter: alpha

spring:
  application:
    name: carpet_washing

  main:
    allow-circular-references: true

  datasource:
    url: jdbc:postgresql://db:5432/washing_database
    username: washing_admin
    password: washing_admin

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: false

  liquibase:
    change-log: classpath:db/changelog/changelog.xml
    enabled: true

server:
  port: 8081

jwt:
  secret: your-256-bit-secret-must-be-at-least-32-chars-long
  expiration: 86400